.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  /* border: 3px solid #fff; */
}
.menu-btn__burger {
  width: 40px;
  height: 5px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 5px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn__burger::after {
  transform: translateY(16px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
.to-top {
  background: white;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #1f1f1f;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
}

.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}
@media (max-width: 390px) {
  .menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    /* border: 3px solid #fff; */
  }
  .menu-btn__burger {
    width: 30px;
    height: 5px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
  }
  .menu-btn__burger::before,
  .menu-btn__burger::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 5px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
    transition: all 0.5s ease-in-out;
  }
  .header-title .title-p p {
    font-size: 11px;
  }
}
.imges {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-between;
  align-items: center;
  padding: 0px 8%;
  margin-top: 50px;
}
.imges .img-box {
  position: relative;
}
.imges .img-box img {
  width: 180px;
  height: 150px;
  /* position: relative; */
}
/* .imges .img-box .hovers {
  width: 180px;
  height: 150px;
  border: 1px solid red;
  background-color: rgba(68, 68, 68, 0.356);
  position: absolute;
  border-radius: 10px;
  top: 0;
} */

#Вопрос2 {
  display: none;
}
#Вопрос2.active {
  display: block;
}
#Вопрос1 {
  display: none;
}
#Вопрос1.active {
  display: block;
}
#Вопрос3 {
  display: none;
}
#Вопрос3.active {
  display: block;
}
.img-boxx {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.imgs2 {
  margin-left: 50px;
  /* border: 1px solid red; */
}
.imgs2 img {
  width: 250px;
  height: 350px;
  /* border: 1px solid red; */
}
.imgs1 img {
  width: 250px;
  height: 350px;
  /* border: 1px solid red; */
}
.box-h4 h4 {
  cursor: pointer;
}
.cc {
  color: #fff;
}

@media (max-width: 515px) {
  .wi {
    margin: auto;
    /* border: 1px solid red; */
  }
  .imgs2 {
    margin-left: 10px;
  }
  .imgs2 img {
    width: 150px;
    height: 220px;
    /* border: 1px solid red; */
  }
  .imgs1 img {
    width: 150px;
    height: 220px;
    /* border: 1px solid red; */
  }
}
