@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100;900&family=Open+Sans:wght@300&family=Poppins:wght@200;400;500;900&family=Quicksand:wght@300;400;500;600;700&family=Roboto:wght@100;300;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  transition: all 0.5s ease-in-out;
}
body {
  background: #003940;
}
:root {
  --galabal-color: #93ea21;
  --gal-color: #ffffff81;
}
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 25px 9%;
}
header .header-title {
  display: flex;
  align-items: center;
}
header .title h1 {
  font-size: 40px;
  font-weight: 600;
}
header .title h1 span {
  color: var(--galabal-color);
}
header .title {
  color: #fff;
}
header .title-p {
  border-left: 2px solid #ffffff81;
  padding-left: 10px;
  margin-left: 10px;
}
header .title-p p {
  color: #ffffff;
}

header .header-right-box {
  display: flex;

  align-items: center;
}
header .header-right h3 {
  color: #fff;
  font-family: Montserrat;
}
header .header-right a {
  color: #fff;
  font-weight: 300;
  margin-top: 5px;
  text-underline-offset: #fff;
}
.bars {
  display: none;
}
.btn {
  padding: 13px 24px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: var(--galabal-color);
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  border: 1px solid var(--galabal-color);
}
html {
  scroll-behavior: smooth;
}
header .header-right-bottom button {
  margin-left: 40px;
}
.underline {
  margin: auto;
  width: 82%;
  border-top: 1px solid var(--gal-color);
}

nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style-type: none;
  margin: 0px 20px;
  padding-top: 20px;
}
nav ul li a {
  text-decoration: none;
  color: var(--gal-color);
  position: relative;
  font-weight: 400;
  font-size: 18px;
}
nav ul li a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--gal-color);
}
nav ul li a:hover::before {
  width: 100%;
  transition: all 0.4s linear;
}
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 80px 9% 0px 9%;
}
section .section-box {
  width: 530px;
}
section .section-box h1 {
  font-weight: 700;
  font-size: 46px;
  color: #fff;
  line-height: 48px;
}
section .section-box p {
  font-weight: 400;
  margin-top: 30px;
  font-size: 22px;
  color: var(--gal-color);
}
section .section-box .section-box-bottom {
  margin-top: 20px;
}
section .section-box .section-box-bottom .btn-1 {
  padding: 13px 24px;
  border-radius: 20px;
  border: none;
  outline: none;
  background: none;
  border: 1px solid var(--galabal-color);
  color: var(--galabal-color);
  cursor: pointer;
  font-weight: 600;
  font-size: 15px;
  margin-left: 10px;
}

section .section-img img {
  width: 400px;
  height: 400px;
}
section .section-img .img-postion {
  position: relative;
}
section .section-img .img-relativ {
  position: absolute;
  top: 160px;
}
section .section-img .img-relativ img {
  width: 100%;
  height: 450px;
}
.box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 50px 9% 0px 9%;
}
.box-card {
  width: 260px;
  height: 70px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  align-items: center;
}
.box-card h4 {
  font-size: 14px;
  margin-left: 15px;
  font-weight: 300;
  color: rgb(187, 183, 183);
}
.box-card h4 span {
  color: #fff;
  font-weight: 600;
}
.box-card img {
  width: 35px;
  height: 35px;
  cursor: pointer;
  margin-left: 20px;
}
.icon-container h1 {
  padding-top: 70px;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 35px;
}
.icon-container h1 span {
  color: var(--galabal-color);
}
.icon-container p {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  color: #fff;
}
.underline-div {
  margin: 10px auto;
  width: 25%;
  border-top: 1px solid var(--galabal-color);
}
.box-h4 {
  display: flex;
  padding: 0 8%;
  margin-top: 50px;
}
.box-h4 h4 {
  margin-left: 20px;
  color: #fff;
}
.box-h4 .h44 {
  color: var(--gal-color);
}
.icon-container h2 {
  padding: 0 9%;
  margin-top: 40px;
  color: #fff;
}
.icon-cards {
  width: 180px;
  height: 150px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 10px;
  margin: 20px;
  border: 1px solid var(--gal-color);
  cursor: pointer;
  transition: all 0.5s linear;
}
.icon-cards:hover {
  border: 1px solid var(--galabal-color);
  color: var(--galabal-color);
}
.icon-cards:hover img:hover {
  color: var(--galabal-color);
}
.icon-cards:hover img:hover {
  color: var(--galabal-color);
  transition: all 0.5s linear;
}
.our {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 9%;
  margin-top: 70px;
}
.our img {
  display: flex;
  margin: auto;
}
.our h3 {
  text-align: center;
  color: #fff;
  margin-top: 10px;
}
.our p {
  text-align: center;
  color: #fff;
  line-height: 27px;
  font-size: 18px;
  margin-top: 10px;
}
.our-box {
  width: 320px;
}
.icon-cards h2 {
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}
.icon-cards img {
  display: flex;
  margin: auto;
}
.cards {
  margin-top: 40px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-between;
  padding: 0px 8%;
}
.text h2 {
  padding-top: 70px;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 70px;
}
.text-box {
  border-bottom: 1px solid var(--galabal-color);
  margin: auto;
  width: 82%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.text-box-title {
  margin: auto;
  width: 82%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.text-box-title h3 {
  font-weight: 400;

  color: var(--gal-color);
}
.silader h1 {
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  margin: 50px 0px 0px 0px;
}
.underlines {
  width: 25%;
  margin: 10px auto 20px auto;
  border-top: 1px solid var(--galabal-color);
}
.silader p {
  text-align: center;
  color: rgba(255, 255, 255, 0.767);
  font-size: 20px;
}
.www {
  height: 50vh;
  border: 1px solid red;
}
.text-box h3 {
  font-weight: 400;
  color: var(--gal-color);
}
footer h1 {
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 35px;
  margin: 50px 0px 0px 0px;
}
footer p {
  text-align: center;
  color: #fff;
  font-size: 19px;
}
.footer {
  margin-top: 200px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px 9%;
}
.footer-img {
  position: relative;
}
.footer-img .imge-postion img {
  width: 400px;
}
.footer-img .imge-relativ img {
  position: absolute;
  width: 400px;
  top: -163px;
}
.login {
  width: 450px;
  height: 450px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}
.login h2 {
  text-align: center;
  font-size: 24px;
  color: #fff;
  margin-top: 40px;
}
.login .login-un {
  border-top: 1px solid var(--galabal-color);

  width: 80%;
  margin: 10px auto;
}
.login .input {
  text-align: center;
  margin-top: 20px;
}
.login input.placeholder {
  color: var(--galabal-color);
}
::-webkit-input-placeholder {
  color: var(--galabal-color);
}
.login input {
  width: 280px;
  background-color: rgba(255, 255, 255, 0.37);
  outline: none;
  margin-top: 15px;
  border-radius: 20px;
  border: none !important;
  padding: 15px;
}
.login button {
  margin-top: 15px;
}
.login #btn {
  width: 280px;
}
.login h5 {
  margin-top: 25px;
  line-height: 21px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.box-ss {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.479);
}
.box-ss p {
  text-align: center;
  line-height: 23px;
}
nav {
  position: relative;
}
.box-ss p span {
  color: var(--galabal-color);
}

@media (max-width: 520px) {
  body {
    width: 100%;
  }
  nav ul {
    text-align: center;
    display: block;
    align-items: center;
    height: 85vh;
    width: 100%;
    /* border: 1px solid red; */
  }
  nav {
    transition: all 0.5s linear;
    left: -150%;
    position: absolute;
    background: #003940;
    width: 100%;
    height: 85vh;
    z-index: 2;
  }
  #nav.active {
    left: 0%;
  }
  nav ul li a {
    color: var(--gal-color);
    position: relative;
    font-weight: 700;
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  header .header-right-box {
    display: none;
  }

  .underline {
    display: none;
  }
  section .section-img .img-relativ {
    position: absolute;
    top: 500px;
  }
  .bars {
    display: block;
  }
  .bars i {
    color: #fff;
    font-size: 30px;
  }
}

.border {
  border: 12px solid red;
}
.wi {
  width: 270px !important;
}
@media (max-width: 515px) {
  header .title-p {
    border-left: 2px solid #ffffff81;
    padding-left: 3px;
    margin-left: 3px;
  }
  header .title-p p {
    font-size: 13px;
  }
  header {
    padding: 25px 4%;
  }
  section {
    padding: 20px 4% 0px 4%;
  }
  section .section-box h1 {
    font-size: 27px;
    line-height: 35px;
  }
  section .section-box p {
    margin-top: 10px;
    font-size: 17px;
  }
  header .title h1 {
    font-size: 30px;
    font-weight: 600;
  }
  section .section-box .section-box-bottom .btn-1 {
    padding: 10px 10px;
    border-radius: 10px;
    border: 1px solid var(--galabal-color);
    color: var(--galabal-color);
    cursor: pointer;
    font-weight: 600;
    font-size: 11px;
    margin-left: 10px;
  }
  section .section-box .section-box-bottom .btn {
    font-size: 11px;
    padding: 10px 10px;
    border-radius: 10px;
  }
  section .section-img {
    position: relative;
    /* margin-top: 80px; */
    margin: 80px auto 0px auto;
  }
  section .section-img img {
    width: 280px;
    /* border: 1px solid red; */
    height: 280px;
    position: relative;
  }
  section .section-img .img-postion {
    position: relative;
  }
  section .section-img .img-relativ {
    position: absolute;
    top: -57px;
  }
  section .section-img .img-relativ img {
    width: 100%;
    height: 330px;
  }
  .box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 9% 0px 9%;
  }
  .box-card {
    margin: 10px auto;
    width: 260px;
    height: 70px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    align-items: center;
  }
  .icon-container h1 {
    padding-top: 70px;
    font-size: 27px;
  }
  .cards {
    margin-top: 40px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    padding: 0px 3%;
  }
  .icon-cards {
    width: 90px;
    height: 80px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 5px;
    margin: 10px 15px 20px 10px;
  }
  .icon-container #h2 {
    font-size: 16px;
  }
  .icon-cards h2 {
    font-size: 13px;
  }
  .our-box {
    margin-top: 20px;
  }
  .our-box p {
    font-size: 14px;
    line-height: 22px;
  }
  .icon-cards img {
    width: 30px;
    height: 40px;
  }
  .text-box-title h3 {
    font-weight: 400;
    font-size: 14px;
    margin-top: -5px;
    color: var(--gal-color);
  }
  .text-box h3 {
    font-weight: 400;
    font-size: 15px;
    color: var(--gal-color);
  }
  .silader h1 {
    font-size: 25px;
    margin: 30px 0px 0px 0px;
  }
  .silader p {
    font-size: 12px;
  }
  .footer {
    /* border: 1px solid red; */
    margin: 150px auto 0px auto;
  }
  footer h1 {
    font-size: 25px;
    margin: 50px 0px 0px 0px;
  }
  footer p {
    /* background-color: red; */
    font-size: 15px;
  }

  .footer-img .imge-postion img {
    width: 280px;
  }
  .footer-img .imge-relativ img {
    position: absolute;
    width: 290px;
    top: -130px;
  }
  .login {
    margin-top: 20px;
    width: 350px;
  }
  .login h5 {
    display: none;
  }
}
/* @media (max-width: 1200px) {
  section .section-box {
    width: 470px;
  }
  .box-card {
    margin-top: 10px;
  }
  section .section-img .img-relativ {
    position: absolute;
    top: 175px;
  }
 
  .cards {
    grid-template-columns: auto auto auto auto;
  }
} */

/* @media (min-width: 1080px) {
  section .section-box {
    width: 450px;
  }

  section .section-box h1 {
    font-size: 40px;
  }
  section .section-box p {
    margin-top: 25px;
    font-size: 20px;
  }
  section .section-img img {
    width: 350px;
    height: 350px;
  }

  section .section-img .img-relativ {
    top: 189px;
  }
  section .section-img .img-relativ img {
    width: 100%;
    height: 400px;
  }
 

  .footer-img .imge-postion img {
    width: 350px;
  }
  .footer-img .imge-relativ img {
    width: 350px;
    top: -163px;
  }
  .login {
    width: 400px;
    height: 450px;
  }
} */
/* @media (min-width: 870px) {
  .header-right-box {
   
    opacity: 0;
    display: none;
    border: 1px solid red;
  }
  .footer-img .imge-relativ img {
    width: 350px;
    top: 0px;
  }
} */
/* @media (min-width: 992px) {
  section .section-box {
    width: 400px;

  }
  section .section-box h1 {
    font-size: 35px;
    line-height: 37px;
  }
  section .section-box p {
    margin-top: 20px;
    font-size: 18px;
  }
  .btn {
    padding: 11px 12px;
    border-radius: 20px;
    font-size: 15px;
  }
  section .section-box .section-box-bottom .btn-1 {
    padding: 11px 12px;
    border-radius: 20px;
    font-size: 15px;
    margin-left: 10px;
  }
  section .section-img .img-relativ {
    top: 185px;
  }
  section .section-img img {
    width: 270px;
    height: 300px;
  }
  section .section-img .img-relativ img {
    width: 100%;
    height: 350px;
  }
  .icon-cards {
    width: 160px;
    height: 130px;
    padding: 10px;
    margin: 10px;
  }
  .footer {
    margin-top: 200px;
    padding: 0px 9%;
  }

  .footer-img .imge-postion img {
    width: 350px;
  }
  .footer-img .imge-relativ img {
    width: 350px;
    top: -143px;
  }
  .box-ss p {
    display: none;
  }
  .login {
    width: 300px;
    height: 450px;
  }
} */
